%h1 Wikis
- if policy(Wiki.new).create?
  = link_to "Make a new Wiki", new_wiki_path, class: 'btn'
.center
  - @wikis.each do |wiki|
    .media
      .media-body
        %h4.media-heading= link_to wiki.title, wiki
