<h1><%= @wiki.title %></h1>

<p><%= @wiki.body %></p>

<% if policy(@wiki).edit? %>
  <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn' %>
<% end %>
<% if policy(@wiki).destroy? %>
  <%= link_to "Delete", @wiki, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' } %>
<% end %>