%h1 Downgrade to standard
.row
  .col-md-4
    %p
      Cancel your premium blocipedia membership
      %ul
        %li placeholder comment 1.
        %li placeholder comment 2.
        %li placeholder comment 3.

  = link_to "Never mind...", new_wiki_path

  .col-md-8
    %p Are you sure?
    %p By cancelling your premium subscription you will lose the ability to create private wikis.
    %p All of your private wikis will become public.  The will be completely open for viewing and updating.

    = link_to "No, I don't want to do that.", root_path
    %br
    = link_to "Yes, I am sure.  Cancel my premium account", refunds_path, method: :post
